
/*-------------   Color Variable  --------------*/

//Colors
	$white: #ffffff;
	$black: #16161a;
	$gray:#f7f7fd;

//Theme color - QQ Palette
	$theme-color: #5A3E85;
	$theme-color2: #3A3A3A;
	$theme-color3: #7FAE9D;
	$theme-color4: #7FAE9D;

// btn and Section color
	$btn_bg:#5A3E85;

// Heading color
	$heading-color:#5A3E85;
	$heading_color2: #3A3A3A;

	
// Body font color
	$font_color1: #3A3A3A;
	$border_color: #7FAE9D;

// Body Font
	$body-text-color: #646D77;
	$hr-border-color:#eceff8;



// Section Bg variable
	$section_bg1: #F5F3F8;
	$section_bg2: #5A3E85;

// bg calss
	.section-bg1{
		background:$section_bg1;
	}
	.section-bg2{
		background:$section_bg2;
	}
	
	$brand-bg: #f1f4fa;
	$testimonial-bg:#f9fafc;


.white-bg{
	background: #ffffff;
}
.gray-bg{
	background: #f5f5f5;
}

	$gray-color: #bebebe;
	$gray-color-2: #bdbdbd;








/*-------------Color include--------------*/


/*-- Background color---*/

.gray-bg {
	background: $gray;
}
.white-bg {
	background:$white;
}
.black-bg {
	background: $black;
}
.theme-bg {
	background:$theme-color;
}
.brand-bg{
	background: $brand-bg;
}
.testimonial-bg{
	background: $testimonial-bg;
}


/*--- color------*/
.white-color {
	color: $white;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}